<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>activite-insert</servlet-name>
        <servlet-class>etu1844.servlets.activite.ActiviteInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bouquet-insert</servlet-name>
        <servlet-class>etu1844.servlets.bouquet.Bouquet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>duree-insert</servlet-name>
        <servlet-class>etu1844.servlets.duree.Duree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>voyage-insert</servlet-name>
        <servlet-class>etu1844.servlets.voyage.Voyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activite_bouquet-insert</servlet-name>
        <servlet-class>etu1844.servlets.activite_bouquet.Activite_bouquet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activite-insert</servlet-name>
        <url-pattern>/activite/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bouquet-insert</servlet-name>
        <url-pattern>/bouquet/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>duree-insert</servlet-name>
        <url-pattern>/duree/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>voyage-insert</servlet-name>
        <url-pattern>/voyage/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activite_bouquet-insert</servlet-name>
        <url-pattern>/activite_bouquet/insert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
